body{
    background-color: #708090;
    text-align: center;
    
}

h1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
}
h1 svg{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    fill: #00FF7F;
}

h2{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
}

.container{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 35px;
}

.sideBar,
.content {
    color: white;
    text-align: center;
    padding: 15px;

}

.sideBar{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: blue;
    opacity: 0.8;
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

.hidden{
    display: none !important; /* for getting back the sideBarDiv with original styles*/
}

.winner-cell{
    background-color: #2ecc71 !important;
    color: white !important;
    font-weight: bold;
    transform: scale(1.08); 
}

.sideBar svg{
    width: 33px;
    height: 33px;
    vertical-align: middle;
    fill: lightsalmon;
}

.start-btn{
    color: #f9faf8;
    font-weight: 600;
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 130px;
    margin-left: 15px;
}
.start-btn:hover{
    cursor: pointer;
    background-color: darkgray;
}
.start-btn svg{
    width: 33px;
    height: 33px;
    vertical-align: middle;
    fill: red;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    background-color: #FF6347;
    opacity: 0.8;
    font-weight: 600;
    font-size:larger;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.cell{
    
    background-color: #f1f1f1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px solid black;
    width: 70px;
    height: 70px;
    cursor: pointer;
    font-size: 25px;
    color: #00FF7F;

}
.cell.x-marker{
    color: #e74c3c;
    font-weight: bold;
}
.cell.o-marker{
    color: #3498db;
    font-weight: bold;
}

.restart-btn{
    
    color: #B8860B;
    font-weight: 600;
    background-color: #FFF8DC;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    width: 155px;
    height: 50px;
    text-align: center;
}
.restart-btn:hover{
    cursor: pointer;
    background-color: darkgrey;
}
.restart-btn svg{
    width: 33px;
    height: 33px;
    vertical-align: middle;
    fill: #006400;
}