body{
    background-color: #708090;
    text-align: center;
}
title svg{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    fill: #00FF7F;
}

h1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
h1 svg{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    fill: #00FF7F;

}

h2{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
h2 svg{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    fill: #8B4513;

}

.container{
    display: flex;
    gap: 200px;
    justify-content: center;
    padding: 30px;
}

.sideBar,
.content,
.displayRslt {
    color: white;
    text-align: center;
    padding: 15px;

}

.sideBar,.displayRslt{
    background-color: blue;
    opacity: 0.8;
    border: 1px solid white;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin-top: 100px;
}

.sideBar{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sideBar svg{
    width: 33px;
    height: 33px;
    vertical-align: middle;
    fill: lightsalmon;
}

.start-btn{
    color: #f9faf8;
    font-weight: 600;
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 130px;
    margin-left: 15px;
}
.start-btn:hover{
    cursor: pointer;
    background-color: darkgray;
}
.start-btn svg{
    width: 33px;
    height: 33px;
    vertical-align: middle;
    fill: red;
}

.content{
    background-color: #FF6347;
    opacity: 0.8;
    font-weight: 600;
    font-size:larger;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid white;
    border-radius: 10px;
    width: 450px;
    height: 400px;
}

.restart-btn{
    color: #B8860B;
    font-weight: 600;
    background-color: #FFF8DC;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    width: 155px;
    height: 50px;
    text-align: center; 
    padding-left: 10px;
}
.restart-btn:hover{
    cursor: pointer;
    background-color: darkgrey;
}
.restart-btn svg{
    width: 33px;
    height: 33px;
    vertical-align: middle;
    fill: #006400;
}